### Checkpoint 12_6: challenge
Determine the five most common journals and the total articles for each. 
Next, calculate the mean, median, and standard deviation of the open-access cost per article for each journal. 
bonus round, identify the open access prices paid by subject area

data source: https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/WELLCOME/WELLCOME_APCspend2013_forThinkful.csv

Note: datafile was downloaded to my PC and then 'saved as: CSV/UTF-8(Comma deliminated)(* .csv)'. This 'copy' of the download was then read into Jupyter notebook as below; thus, original file remains unmodified.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv(r'C:\Users\katec\Thinkful\data_collections\WELLCOME_APCspend2013_forThinkful.csv')

In [ ]:
df.head()

Noted multiple issues with 'PMID/PMCID' column, including: value for both 'PMID' and 'PMCID' listed in same cell; some values contain both alpha and numeric, some contain only alpha (no numeric), additional spaces. This would need to be addressed if this column was to be used for challenge. 
Also noted issues with the 'Publisher' column. 
The columns needed for this challenge are 'Journal title', 'Article title', and 'COST (£) charged to Wellcome (inc VAT when charged)'.

Issues for data cleaning from initial review:
1. Find Nan, evaluate whether or not they can be filled in using existing data or should be dropped.

2. Change name of 'Cost...' to shorter, more managable name.

3. Remove £ (Alt156) from 'Cost' column. 

4. Noted journal name may appear several differen ways: 'PLOS ONE', 'Plos One', 'PLoS ONE', 'PLos One', etc. 'J...', 
'Journal...', etc. Will need to make names uniform. 

5. Check min/max of cost, noted examples of unlikely values. 

6. Convert 'Cost' column to numeric from null object.

In [ ]:
df.info()

In [3]:
list(df.columns)

['PMID/PMCID',
 'Publisher',
 'Journal title',
 'Article title',
 'COST (£) charged to Wellcome (inc VAT when charged)']

##### change column name to a shorter, more managable name

In [4]:
#must remember 'inplace'
df.rename({'COST (£) charged to Wellcome (inc VAT when charged': 'Cost'}, inplace=True, axis = 1)

In [ ]:
#also works
#df.rename(columns={'COST (£) charged to Wellcome (inc VAT when charged)':'Cost'}, inplace=True)

In [ ]:
df.head()

In [5]:
#use this to change column names; fix all names at one time
df.columns = ['PMID/PMCID',
 'Publisher',
 'Journal_title',
 'Article_title',
 'Cost']

In [ ]:
df.info()

##### remove pound sterling symbol and convert 'Cost' to numeric

In [6]:
#need to use .str to replace!
#emails.str.replace('.com', '')
                   
df['Cost'] = df['Cost'].str.replace('£', '').str.replace('$','')

In [ ]:
df.head()

In [ ]:
#returns EOL error
#df['Cost'] = df['Cost'].replace({'£'': ''}, regex=True)

In [ ]:
#this method changes to float, but removes all the values
#for column in ['Cost']:
#    df[column] = pd.to_numeric(df[column], errors = 'coerce', downcast = 'float')

In [ ]:
#df['Cost'] = df['Cost'].apply(lambda x: x.replace('£','')).apply(lambda x: x.replace('$','')).astype(float)

In [7]:
#use this method to change null object to float
df['Cost'] = df['Cost'].apply(lambda x: float(x))

In [8]:
df.head()

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 5 columns):
PMID/PMCID       1928 non-null object
Publisher        2127 non-null object
Journal_title    2126 non-null object
Article_title    2127 non-null object
Cost             2127 non-null float64
dtypes: float64(1), object(4)
memory usage: 83.2+ KB

In [10]:
df.describe()

                Cost
count    2127.000000
mean    24067.339972
std    146860.665559
min         0.000000
25%      1280.000000
50%      1884.010000
75%      2321.305000
max    999999.000000

In [ ]:
#boxplot

A mean of £24,067 seems unlikely (and unreasonable) for "The cost...which the institution is claiming from the Wellcome Trust grant (to cover the OA publishing fee)." 
Noted a max cost of £999,999, which is clearly invalid. Search out & impute these values as possible. Will replace with the mean of 'Cost' values without values > £9,999.99.

In [11]:
df_cost = df.loc[df['Cost'] > 9999.99]
print(df_cost)

                                            PMID/PMCID  \
149                                         PMC3234811
227                                            3708772
277                                        PMC3668259
358                                         PMC3219211
404                                         PMC3533396
410                                                NaN
491                                  PMCID: PMC3464430
560                                         PMC3632754
630    Epub ahead of print April 2013 - print in press
660                           PMID:23291342 PMC3581773
669                                         PMC3594749
670                                  PMCID: PMC3679449
811                                                NaN
815                                                NaN
825                                                NaN
829                              23200744  PMC3552157
873                                     PMC3644713\n\n
945                                     PMID: 22547635
986                                                NaN
996                                        PMC3785137
1036                    PMID: 23703681 (May 2013 Epub)
1046                                        PMC3709478
1065                                 PMCID: PMC3615658
1138                                        PMC3510758
1208  Epub ahead of print pub Jan 2013, print in press
1256                               23981980 PMC3809720
1309                                           2294692
1367                            PMCID:    PMC3531293\n
1386                                        PMC3527207
1387                                               NaN
1470                                           3547931
1560                                           3726600
1561                                          23285297
1562                                       PMC3720940
1563                                 PMCID: PMC3748079
1564                            PMCID:\n    PMC3579793
1565                            PMCID:\n    PMC3732248
1566                          PMCID:\n    PMC3767740\n
1597                                 PMCID: PMC3749955
1598                          PMCID:\n    PMC3764210\n
1612                                      PMC3777952\n
1614                                       PMC 3712914
1616                                       PMC 3460945
1664                                (PMCID:PMC3757918)
1675                                 Not yet available
1835                                  PMCID:PMC3268392
1939                                               NaN
1947                                               NaN
1961                                        PMC3557719
1987                                    PMC3664409\n\n

                                              Publisher  \
149                                               ASBMB
227                                     BioMed Central
277                                                 BMC
358                          Cambridge University Press
404                               Company of Biologists
410                                                 CUP
491                                            Elsevier
560                                            Elsevier
630                                            Elsevier
660                                            Elsevier
669                                            Elsevier
670                                            Elsevier
811                                            Elsevier
815                                            Elsevier
825                                            Elsevier
829                                            Elsevier
873                                           Frontiers
945                                   John Wiley & Sons
986                                           MacMillan
996                               MIT PRESS OPEN ACCESS
1036                                             Nature
1046                                             Nature
1065                            Nature Publishing Group
1138                                                OUP
1208                            Oxford University Press
1256                            Oxford University Press
1309                                               PNAS
1367                          Public Library of Science
1386                          Public Library of Science
1387                          Public Library of Science
1470                          Public Library of Science
1560                          Public Library of Science
1561                          Public Library of Science
1562                          Public Library of Science
1563                          Public Library of Science
1564                          Public Library of Science
1565                          Public Library of Science
1566                          Public Library of Science
1597                          Public Library of Science
1598                          Public Library of Science
1612                          Public Library of Science
1614                          Public Library of Science
1616                          Public Library of Science
1664                                               Sage
1675                                    Sage Publishing
1835  The American Society for Biochemistry and Mole...
1939                                              Wiley
1947                                              Wiley
1961                                              Wiley
1987                                              Wiley

                                       Journal_title  \
149                  Journal of Biological Chemistry
227                                    BMC Genomics.
277                                           Trials
358             Expert Reviews in Molecular Medicine
404                          Journal of Cell Science
410   Journal of the International African Institute
491                                             Cell
560                       Experimental Cell Research
630                   Journal of paediatric Urology
660               Molecluar & Cellular Endocrinology
669                                   Molecular Cell
670                                   Molecular Cell
811                          Trends in Neurosciences
815                           Trends in Parasitology
825                          Veterinary Parasitology
829                                  Vision Research
873                           Frontiers in Cognition
945                            Journal of Physiology
986                                              NaN
996            The Journal of Cognitive Neuroscience
1036                            Genetics in Medicine
1046                           Nature Communications
1065                                    EMBO Reports
1138                        Human Molecular Genetics
1208                                 Cerebral Cortex
1256                         Oxford University Press
1309                                            PNAS
1367                      PLoS Computational Biology
1386                                   PLoS Genetics
1387                                   PLoS Genetics
1470                                        PLoS One
1560                                        PLoS One
1561                                        PLOS ONE
1562                                        PLoS One
1563                                        PLoS ONE
1564                                        PLoS ONE
1565                                        PLOS ONE
1566                                        PLoS ONE
1597                                  PLoS Pathogens
1598                                  PLoS Pathogens
1612                                         PLosONE
1614                            Pmedicine-D-12-03130
1616                                  PONE-D12-17947
1664                   History of the Human Sciences
1675                            Qualitative Research
1835                        Jnl Biological Chemistry
1939                     HBM JNL Human Brain Mapping
1947                                     Hippocampus
1961                       Journal of Neurochemistry
1987                              Movement Disorders

                                          Article_title      Cost
149   Picomolar nitric oxide signals from central ne...  999999.0
227   Phenotypic, genomic, and transcriptional chara...  999999.0
277   Community resource centres to improve the heal...  999999.0
358   Pharmacological targets in the ubiquitin syste...  999999.0
404   PKA isoforms coordinate mRNA fate during nutri...  999999.0
410         Pharmacy, money and public health in Dakar.  999999.0
491   piRNAs can trigger a multigenerational epigene...  999999.0
560   Perturbation of invadolysin disrupts cell migr...  999999.0
630   Persistent unexplained congenital clitoromegal...  999999.0
660   Periconceptional changes in maternal exposure ...  999999.0
669   Bax Exists in a Dynamic Equilibrium between th...  999999.0
670   Kinetochores coordinate pericentromeric cohesi...  999999.0
811   Cytoplasmic dynein heavy chain: the servant of...  999999.0
815   Infection and treatment immunizations for succ...  999999.0
825   Persistence of the efficacy of copper oxide wi...  999999.0
829   Perceptual learning of second order cues for l...  999999.0
873   Persistence of internal representations of alt...  999999.0
945   Plasticity of spatial hearing: behavioural eff...  999999.0
986   Fungal Disease in Britain and the United State...   13200.0
996   Perceptual Integration for Qualitatively Diffe...  999999.0
1036  Population-based estimates of the prevalence o...  999999.0
1046  Picornavirus uncoating intermediate captured i...  999999.0
1065  Physiological release of endogenous tau is sti...  999999.0
1138  Genome Wide Meta-analysis points to CTC1 and Z...  999999.0
1208  Pharmacological dissociation of novelty respon...  999999.0
1256  Physical activity levels across adult life and...  999999.0
1309  Shaping accoustic fields as a toolset for micr...  999999.0
1367  Phylodynamic inference and model assessment wi...  999999.0
1386  Population genomics of the Wolbachia endosymbi...  999999.0
1387  PNUTS/PP1 regulates RNAPII-mediated gene expre...  999999.0
1470  Reducing stock-outs of life saving Malaria Com...  192645.0
1560  Plasmodium falciparum vary Gene Expression Hom...  999999.0
1561  Pharmacological inhibition of caspase-2 protec...  999999.0
1562  Population-based CD4 counts in a rural area in...  999999.0
1563  Plant SILAC: stable-isotope labelling with ami...  999999.0
1564  Phagocytosis Is the Main CR3-Mediated Function...  999999.0
1565  Pneumocystis jirovecii pneumonia in tropical a...  999999.0
1566  Phenotypic alteration of neutrophils in the bl...  999999.0
1597  Determinants of GPI-PLC localisation to the fl...  999999.0
1598  The CLIP-domain serine protease homolog SPCLIP...  999999.0
1612  Retinal Nerve Fibre Layer Thickness and Contra...  999999.0
1614  Global Burden of Sickle cell Anaemia in childr...  999999.0
1616  Persistence of Hyperinvasive Meningococcal Str...  999999.0
1664  How autism became autism: the radical transfor...  999999.0
1675  Picturing commuting: photovoice and seeking we...  999999.0
1835  Photoaffinity labelling of high affinity nicot...  999999.0
1939  Phase informed model for motion and susceptibi...  999999.0
1947  Pituitary adenylate cyclase-activating polypep...  999999.0
1961  Pituitary adenylate cyclase-activating peptide...  999999.0
1987  Limb amputations in fixed dystonia: a form of ...  201024.0

In [12]:
df_cost.shape

(50, 5)

In [13]:
df_cost.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 149 to 1987
Data columns (total 5 columns):
PMID/PMCID       42 non-null object
Publisher        50 non-null object
Journal_title    49 non-null object
Article_title    50 non-null object
Cost             50 non-null float64
dtypes: float64(1), object(4)
memory usage: 2.3+ KB

In [14]:
#find mean of 'Cost' without invalid values above
df_truecost = df.loc[df['Cost'] < 9999.99].mean()
print(df_truecost)

Cost    1822.055908
dtype: float64

In [15]:
#find & replace invalid values
invalid_cost = df['Cost'] > 9999
type(invalid_cost)

pandas.core.series.Series

In [18]:
print(invalid_cost)

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
2097    False
2098    False
2099    False
2100    False
2101    False
2102    False
2103    False
2104    False
2105    False
2106    False
2107    False
2108    False
2109    False
2110    False
2111    False
2112    False
2113    False
2114    False
2115    False
2116    False
2117    False
2118    False
2119    False
2120    False
2121    False
2122    False
2123    False
2124    False
2125    False
2126    False
Name: Cost, Length: 2127, dtype: bool

In [16]:
df['Cost'] = df['Cost'].replace([invalid_cost], 1822.06, inplace=True)

In [17]:
print(df.loc[[149, 227, 277]])

      PMID/PMCID        Publisher                    Journal_title  \
149   PMC3234811            ASBMB  Journal of Biological Chemistry
227      3708772  BioMed Central                     BMC Genomics.
277  PMC3668259               BMC                           Trials

                                         Article_title  Cost
149  Picomolar nitric oxide signals from central ne...  None
227  Phenotypic, genomic, and transcriptional chara...  None
277  Community resource centres to improve the heal...  None

In [20]:
df.head()

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,None
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,None
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",None
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,None
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,None

In [ ]:
df['Cost'].value_counts()

In [ ]:
df.info()

In [ ]:
df['Journal title'].unique()

In [ ]:
df['Journal_title'].value_counts()

In [ ]:
 df.apply(lambda x: sum(x.isnull()),axis=0)

In [ ]:
re.findall

In [ ]:
def measure_id (row):
   if row['Measure Name'] == 'READM_30_COPD_HRRP' :
      return 'COPD'
   if row['Measure Name'] == 'READM_30_HF_HRRP' :
      return 'HF'
   if row['Measure Name'] == 'READM_30_PN_HRRP' :
      return 'PN'
   if row['Measure Name'] == 'READM_30_AMI_HRRP' :
      return 'AMI'
   if row['Measure Name'] == 'READM_30_HIP_KNEE_HRRP' :
      return 'HIP_KNEE'
   if row['Measure Name'] == 'READM_30_CABG_HRRP' :
      return 'CABG'

In [ ]:
df.apply (lambda row: measure_id(row), axis=1)

In [ ]:
df['measure'] = df.apply (lambda row: measure_id(row), axis=1)

In [ ]:
df_with_nans = df.applymap(lambda elem: float('NaN') if elem == "Not Available" else elem)

In [ ]:
df_readmin = df_with_nans.dropna(subset=df_with_nans.columns.drop('Footnote')).copy()

In [ ]:
for column in ['Number of Discharges', 'Excess Readmission Ratio', 'Predicted Readmission Rate', 'Expected Readmission Rate', 'Number of Readmissions']:
    df_readmin[column] = pd.to_numeric(df_readmin[column], errors = 'coerce', downcast = 'float')

In [ ]:
df_readmin.groupby('Measure Name')['Excess Readmission Ratio'].describe()