#### Assignments

To help you find your bearings with regard to t-tests, calculate the t-values for the following numbers:

1. ğ‘¦1Â¯=5, ğ‘¦2Â¯=8, ğ‘ 1=1, ğ‘ 2=3, ğ‘1=200, ğ‘2=500

2. ğ‘¦1Â¯=1090, ğ‘¦2Â¯=999, ğ‘ 1=400, ğ‘ 2=30, ğ‘1=900, ğ‘2=100

3. ğ‘¦1Â¯=45, ğ‘¦2Â¯=40, ğ‘ 1=45, ğ‘ 2=40, ğ‘1=2000, ğ‘2=2000

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [20]:
#sample 1
y1 = 5
y2 = 8
std1 = 1
std2 = 3
n1 = 200
n2 = 500

In [23]:
#calculate standard error

se1 = std1/np.sqrt(n1)
se2 = std2/np.sqrt(n2)
print(se1, se2)

0.07071067811865475 0.13416407864998736

In [24]:
# standard error on the difference between the samples
sed = np.sqrt(se1**2.0 + se2**2.0)
sed

0.151657508881031

In [25]:
# calculate the t statistic sample 1
# ğ‘¦1Â¯=5, ğ‘¦2Â¯=8, ğ‘ 1=1, ğ‘ 2=3, ğ‘1=200, ğ‘2=500
t_stat1 = (y1 - y2)/ sed
t_stat1

-19.781414201873613

In [26]:
#sample 2
y1 = 1090
y2 = 999
std1 = 400
std2 = 30
n1 = 900
n2 = 100

In [27]:
#calculate standard error

se1 = std1/np.sqrt(n1)
se2 = std2/np.sqrt(n2)
print(se1, se2)

13.333333333333334 3.0

In [28]:
# standard error on the difference between the samples
sed = np.sqrt(se1**2.0 + se2**2.0)
sed

13.666666666666668

In [29]:
# calculate the t statistic sample 2
# ğ‘¦1Â¯=1090, ğ‘¦2Â¯=999, ğ‘ 1=400, ğ‘ 2=30, ğ‘1=900, ğ‘2=100
t_stat2 = (y1 - y2)/ sed
t_stat2

6.658536585365853

In [30]:
#sample 3
y1 = 45
y2 = 40
std1 = 45
std2 = 40
n1 = 2000
n2 = 2000

In [31]:
#calculate standard error

se1 = std1/np.sqrt(n1)
se2 = std2/np.sqrt(n2)
print(se1, se2)

1.0062305898749053 0.8944271909999159

In [32]:
# standard error on the difference between the samples
sed = np.sqrt(se1**2.0 + se2**2.0)
sed

1.346291201783626

In [33]:
# calculate the t statistic sample 3
# ğ‘¦1Â¯=45, ğ‘¦2Â¯=40, ğ‘ 1=45, ğ‘ 2=40, ğ‘1=2000, ğ‘2=2000
t_stat2 = (y1 - y2)/ sed
t_stat2

3.7139067635410377