### Data cleaning 2: missing values Assignment

Assignment

In this assignment, you'll be working with the U.S. Education Dataset from Kaggle. The data gives detailed state level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

Access this data from the Thinkful database using the following credentials:

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

To complete this assignment, submit a link to a Jupyter notebook containing your solutions to the following tasks:

1. Determine all the variable types and find the fraction of the missing values for each variable.
2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?
3. Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.
4. This time, fill in the missing values using interpolation (extrapolation).
5. Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?

Submit your work below, and plan on discussing with your mentor. You can also take a look at this example solution.

Data source: 
https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv(r'C:\Users\katec\Thinkful\data_collections\states_all_extended.csv')

In [8]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useeducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

education_df = pd.read_sql_query('select * from useeducation',con=engine)

# no need for an open connection, 
# as we're only doing a single query
#engine.dispose()

ModuleNotFoundError: No module named 'psycopg2'

1. Determine all the variable types and find the fraction of the missing values for each variable.

2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

3. Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

4. This time, fill in the missing values using interpolation (extrapolation).

5. Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?

In [3]:
youtube_df.info()

NameError: name 'youtube_df' is not defined

​

youtube_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [4]:
# print first rows of the data frame
youtube_df.head()

NameError: name 'youtube_df' is not defined

 	Rank 	Grade 	Channel name 	Video Uploads 	Subscribers 	Video views
0 	1st 	A++ 	Zee TV 	82757 	18752951 	20869786591
1 	2nd 	A++ 	T-Series 	12661 	61196302 	47548839843
2 	3rd 	A++ 	Cocomelon - Nursery Rhymes 	373 	19238251 	9793305082
3 	4th 	A++ 	SET India 	27323 	31180559 	22675948293
4 	5th 	A++ 	WWE 	36756 	32852346 	26273668433

It appears that both Video Uploads and Subscribers are numeric! So, why did these columns appear as object and not int or float?

This happened because both Video Uploads and Subscribers contain observations that can't be handled as numeric. This includes both missing values and observations stored in the database as --.

To confirm that this is indeed what's happening, let's select the rows where values of the Video Uploads and Subscribers columns are equal to

In [ ]:
youtube_df[(youtube_df["Video Uploads"].str.strip() == "--") | (youtube_df["Subscribers"].str.strip() == "--")]

 	Rank 	Grade 	Channel name 	Video Uploads 	Subscribers 	Video views
17 	18th 	A+ 	Vlad and Nikita 	53 	-- 	1428274554
108 	109th 	A 	BIGFUN 	373 	-- 	941376171
115 	116th 	A 	Bee Kids Games - Children TV 	740 	-- 	414535723
142 	143rd 	A 	ChiChi TV Siêu Nhân 	421 	-- 	2600394871
143 	144th 	A 	MusicTalentNow 	1487 	-- 	3252752212
152 	153rd 	A 	Family GamesTV 	282 	-- 	1287242549
156 	157th 	A 	KH Show 	31 	-- 	106302038
175 	176th 	A 	LES BOYS TV2 	116 	-- 	387595623
180 	181st 	A 	BIBO TOYS 	313 	-- 	1574657579
189 	190th 	A 	Kids Tv Show 	8 	-- 	86516866
192 	193rd 	A 	Happy Funny Kids Toys Pretend Play 	850 	-- 	1778372917
197 	198th 	A 	Learn Colors Keiki 	6 	-- 	89116512
209 	210th 	A 	Ly LY ToysReview 	33 	-- 	90941513
213 	214th 	A 	Beat chất lượng cao 	563 	-- 	622132999
223 	224th 	A 	Purana Hindustan 	91 	-- 	501921413
230 	231st 	A 	Happy Lives 	188 	-- 	515722472
234 	235th 	A 	Salih Reis'in Dünyası 	237 	-- 	2197191069
235 	236th 	A 	News ThatMatter 	365 	-- 	77361248
238 	239th 	A 	PlayGammer100 	7 	-- 	261227
253 	254th 	A 	Flipkart 	604 	-- 	718345351
255 	256th 	A 	Los Juguetes BB 	114 	-- 	82824448
267 	268th 		MidnightXChannel 	-- 	-- 	190256974
291 	292nd 	A 	Sham Drama شام دراما 	6494 	-- 	885923365
322 	323rd 	A 	Ghiền Phim Hàn 	854 	-- 	1072407139
326 	327th 	A 	Bollywood Event Talkies 	10 	-- 	350
346 	347th 	A 	Jhankar Station 07 	205 	-- 	78360362
357 	358th 	A 	Purani Kahani 	66 	-- 	205282926
382 	383rd 	A 	El Blog del Narco 	4449 	-- 	70680037
391 	392nd 	A 	apple kids 	70 	-- 	370257049
392 	393rd 	A 	DLS News 	1579 	-- 	514253195
... 	... 	... 	... 	... 	... 	...
4645 	4,646th 	B+ 	Bangla Gorom News 	1896 	-- 	151760154
4653 	4,654th 	B+ 	Fingerwager 	22 	-- 	119546477
4657 	4,658th 	B+ 	knowledge master 	806 	-- 	248868112
4663 	4,664th 	B+ 	PTV Cricket 	1351 	-- 	132162672
4668 	4,669th 	B+ 	TTV BTW 	69 	-- 	11325628
4687 	4,688th 	B+ 	عالم الإبداع - Creative… 	216 	-- 	145773941
4690 	4,691st 	B+ 	Tizcall 	68 	-- 	108495917
4695 	4,696th 	B+ 	My Tam 	264 	-- 	538371669
4704 	4,705th 	B+ 	Louie Rochester 	73 	-- 	75536179
4715 	4,716th 	B+ 	Mickey Baby Tv 	47 	-- 	39117306
4730 	4,731st 	B+ 	Perfect Life 	263 	-- 	156462604
4748 	4,749th 	B+ 	Samsung South Africa 	311 	-- 	96264871
4771 	4,772nd 	B+ 	العالمية للترفية HD 	231 	-- 	36001078
4786 	4,787th 	B+ 	Justin Wright S. 	458 	-- 	289623382
4802 	4,803rd 	B+ 	News Now 	4234 	-- 	240258091
4822 	4,823rd 	B+ 	مشاهيرنا 	350 	-- 	51775617
4836 	4,837th 	B+ 	CARS 4 KIDS 	478 	-- 	1643267574
4844 	4,845th 	B+ 	Khatulistiwa Record 	132 	-- 	153432783
4886 	4,887th 	B+ 	Xpose News 	40476 	-- 	204810831
4892 	4,893rd 	B+ 	Everything For U 	184 	-- 	69313209
4893 	4,894th 	B+ 	VB Musicas 	71 	-- 	48275804
4895 	4,896th 	B+ 	Totoykids Explorer 	165 	-- 	363738234
4898 	4,899th 		ExzoticSlice 	-- 	99785 	9745292
4912 	4,913th 	B+ 	اخترنا لك 	775 	-- 	95271752
4936 	4,937th 	B+ 	李婶儿说电影 	139 	-- 	53572147
4941 	4,942nd 	B+ 	GMTV 	183 	-- 	127080542
4948 	4,949th 	B+ 	Keivon ToysReview 	468 	-- 	481568513
4956 	4,957th 	B+ 	CLICKNEWS 	2661 	-- 	139940815
4961 	4,962nd 	B+ 	ONE Championship 	905 	-- 	109836654
4990 	4,991st 	B+ 	Ho Ngoc Ha's Official Channel 	208 	-- 	127185704

390 rows × 6 columns

In [ ]:
youtube_df.nunique()

Rank             5000
Grade               6
Channel name     4993
Video Uploads    2286
Subscribers      4612
Video views      5000
dtype: int64

Here we can see that the Grade column has only 6 distinct values, so it's safe to classify this as a categorical variable. But Channel name has nearly 5,000 unique values—how can we be sure it's categorical?

Here, we must simply think logically about our data. Since Channel name stores the name of the YouTube channel, we can think of each channel as a unique category. The number possibilities this value can take is limited to the number of YouTube channels, so it's a categorical variable.

What about the Rank column? Since this contains the rank of each channel, it can be considered as either an ordinal categorical variable or as an interval continuous variable. The variable type we choose will depend on the task at hand and likely some experimentation on the data to decide which is more helpful. As with many tasks in data science, there is no clear-cut "right" answer here, so in this bootcamp you will learn how to develop the best course of action given your objectives.

In [ ]:
# this method returns group numbers 
# given video views
def categorize_video_views(views_num):
    if views_num >= 1000000000:
        return 1
    elif views_num >= 100000000:
        return 2
    else:
        return 3

# we use Pandas' .apply() method by calling the function above.
youtube_df['views_group'] = youtube_df['Video views'].apply(categorize_video_views)

# let's see how many observations we have in each group
print(youtube_df.groupby("views_group")["Video views"].count())

views_group
1    1399
2    2846
3     755
Name: Video views, dtype: int64

#### Data cleaning 2: missing values

In [5]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\katec\anaconda3\lib\site-packages (1.3.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [8]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'youtube'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

youtube_df = pd.read_sql_query('select * from youtube',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

ModuleNotFoundError: No module named 'psycopg2'

If you look at the code above, you'll notice that we accessed Thinkful's database by using some credentials and information about the server like its ip address and the port of the database. All these informations are passed into the create_engine() method of SQLAlchemy as parameters. After that, we called the read_sql_query() method of Pandas by giving the query string and the connection that we established by calling the create_engine() method of SQLAlchemy as parameters. Pandas' read_sql_query() method returns a dataframe as a result of the sql query we run. Notice that after we're done with the database, we close the connection by:

engine.dispose()

We should always close the connections after we finish our work with the database as it's a best practice for avoiding wasting our computers' and database server's resources.

In [9]:
youtube_df.info()

NameError: name 'youtube_df' is not defined

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

The output states we have 6 columns and 5,000 rows. Among the columns, only Video views seems to be integer, and the rest appear to be text. However, as we explained in the previous checkpoint, this is misleading.

Further investigation in that checkpoint revealed that Video Uploads and Subscribers are also numeric. We will not repeat that analysis here but rather focus on the missing values in the variables and how to treat them.

In [10]:
youtube_df.isnull()

NameError: name 'youtube_df' is not defined

 	Rank 	Grade 	Channel name 	Video Uploads 	Subscribers 	Video views
0 	False 	False 	False 	False 	False 	False
1 	False 	False 	False 	False 	False 	False
2 	False 	False 	False 	False 	False 	False
3 	False 	False 	False 	False 	False 	False
4 	False 	False 	False 	False 	False 	False
5 	False 	False 	False 	False 	False 	False
6 	False 	False 	False 	False 	False 	False
7 	False 	False 	False 	False 	False 	False
8 	False 	False 	False 	False 	False 	False
9 	False 	False 	False 	False 	False 	False
10 	False 	False 	False 	False 	False 	False
11 	False 	False 	False 	False 	False 	False
12 	False 	False 	False 	False 	False 	False
13 	False 	False 	False 	False 	False 	False
14 	False 	False 	False 	False 	False 	False
15 	False 	False 	False 	False 	False 	False
16 	False 	False 	False 	False 	False 	False
17 	False 	False 	False 	False 	False 	False
18 	False 	False 	False 	False 	False 	False
19 	False 	False 	False 	False 	False 	False
20 	False 	False 	False 	False 	False 	False
21 	False 	False 	False 	False 	False 	False
22 	False 	False 	False 	False 	False 	False
23 	False 	False 	False 	False 	False 	False
24 	False 	False 	False 	False 	False 	False
25 	False 	False 	False 	False 	False 	False
26 	False 	False 	False 	False 	False 	False
27 	False 	False 	False 	False 	False 	False
28 	False 	False 	False 	False 	False 	False
29 	False 	False 	False 	False 	False 	False
... 	... 	... 	... 	... 	... 	...
4970 	False 	False 	False 	False 	False 	False
4971 	False 	False 	False 	False 	False 	False
4972 	False 	False 	False 	False 	False 	False
4973 	False 	False 	False 	False 	False 	False
4974 	False 	False 	False 	False 	False 	False
4975 	False 	False 	False 	False 	False 	False
4976 	False 	False 	False 	False 	False 	False
4977 	False 	False 	False 	False 	False 	False
4978 	False 	False 	False 	False 	False 	False
4979 	False 	False 	False 	False 	False 	False
4980 	False 	False 	False 	False 	False 	False
4981 	False 	False 	False 	False 	False 	False
4982 	False 	False 	False 	False 	False 	False
4983 	False 	False 	False 	False 	False 	False
4984 	False 	False 	False 	False 	False 	False
4985 	False 	False 	False 	False 	False 	False
4986 	False 	False 	False 	False 	False 	False
4987 	False 	False 	False 	False 	False 	False
4988 	False 	False 	False 	False 	False 	False
4989 	False 	False 	False 	False 	False 	False
4990 	False 	False 	False 	False 	False 	False
4991 	False 	False 	False 	False 	False 	False
4992 	False 	False 	False 	False 	False 	False
4993 	False 	False 	False 	False 	False 	False
4994 	False 	False 	False 	False 	False 	False
4995 	False 	False 	False 	False 	False 	False
4996 	False 	False 	False 	False 	False 	False
4997 	False 	False 	False 	False 	False 	False
4998 	False 	False 	False 	False 	False 	False
4999 	False 	False 	False 	False 	False 	False

5000 rows × 6 columns

In [ ]:
for column_name in youtube_df.columns:
    print("Unique values in column {} are: {}".format(column_name, youtube_df[column_name].unique()))

Unique values in column Rank are: ['1st' '2nd' '3rd' ... '4,998th' '4,999th' '5,000th']
Unique values in column Grade are: ['A++ ' 'A+ ' 'A ' '\xa0 ' 'A- ' 'B+ ']
Unique values in column Channel name are: ['Zee TV' 'T-Series' 'Cocomelon - Nursery Rhymes' ... 'Mastersaint'
 'Bruce McIntosh' 'SehatAQUA']
Unique values in column Video Uploads are: ['82757' '12661' '373' ... '1735' '706' '3475']
Unique values in column Subscribers are: ['18752951' '61196302' '19238251' ... '3265735' '32990' '21172']
Unique values in column Video views are: [20869786591 47548839843  9793305082 ...   311758426    14563764
    73312511]

In [ ]:
# print all values that cannot be converted to float
for column_name in ["Video Uploads", "Subscribers"]:
    print("These are the problematic values for the variable: {}".format(column_name))
    for value in youtube_df["Video Uploads"]:
        try:
            float(value)
        except:
            print(value)

These are the problematic values for the variable: Video Uploads
--
--
--
--
--
--
These are the problematic values for the variable: Subscribers
--
--
--
--
--
--

In [ ]:
# replace "--" values to empty strings

youtube_df["Video Uploads"] = youtube_df["Video Uploads"].apply(str.strip).replace("--", np.nan)
youtube_df["Video Uploads"] = pd.to_numeric(youtube_df["Video Uploads"], downcast="float")

youtube_df["Subscribers"] = youtube_df["Subscribers"].apply(str.strip).replace("--", np.nan)
youtube_df["Subscribers"] = pd.to_numeric(youtube_df["Subscribers"], downcast="float")

We can check that Video Uploads and Subscribers columns are of type float now:

In [ ]:
youtube_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    4994 non-null float32
Subscribers      4613 non-null float32
Video views      5000 non-null int64
dtypes: float32(2), int64(1), object(3)
memory usage: 195.4+ KB

Now, let's call the .isnull() method again to check for missing values:

In [ ]:
youtube_df.isnull()

 	Rank 	Grade 	Channel name 	Video Uploads 	Subscribers 	Video views
0 	False 	False 	False 	False 	False 	False
1 	False 	False 	False 	False 	False 	False
2 	False 	False 	False 	False 	False 	False
3 	False 	False 	False 	False 	False 	False
4 	False 	False 	False 	False 	False 	False
5 	False 	False 	False 	False 	False 	False
6 	False 	False 	False 	False 	False 	False
7 	False 	False 	False 	False 	False 	False
8 	False 	False 	False 	False 	False 	False
9 	False 	False 	False 	False 	False 	False
10 	False 	False 	False 	False 	False 	False
11 	False 	False 	False 	False 	False 	False
12 	False 	False 	False 	False 	False 	False
13 	False 	False 	False 	False 	False 	False
14 	False 	False 	False 	False 	False 	False
15 	False 	False 	False 	False 	False 	False
16 	False 	False 	False 	False 	False 	False
17 	False 	False 	False 	False 	True 	False
18 	False 	False 	False 	False 	False 	False
19 	False 	False 	False 	False 	False 	False
20 	False 	False 	False 	False 	False 	False
21 	False 	False 	False 	False 	False 	False
22 	False 	False 	False 	False 	False 	False
23 	False 	False 	False 	False 	False 	False
24 	False 	False 	False 	False 	False 	False
25 	False 	False 	False 	False 	False 	False
26 	False 	False 	False 	False 	False 	False
27 	False 	False 	False 	False 	False 	False
28 	False 	False 	False 	False 	False 	False
29 	False 	False 	False 	False 	False 	False
... 	... 	... 	... 	... 	... 	...
4970 	False 	False 	False 	False 	False 	False
4971 	False 	False 	False 	False 	False 	False
4972 	False 	False 	False 	False 	False 	False
4973 	False 	False 	False 	False 	False 	False
4974 	False 	False 	False 	False 	False 	False
4975 	False 	False 	False 	False 	False 	False
4976 	False 	False 	False 	False 	False 	False
4977 	False 	False 	False 	False 	False 	False
4978 	False 	False 	False 	False 	False 	False
4979 	False 	False 	False 	False 	False 	False
4980 	False 	False 	False 	False 	False 	False
4981 	False 	False 	False 	False 	False 	False
4982 	False 	False 	False 	False 	False 	False
4983 	False 	False 	False 	False 	False 	False
4984 	False 	False 	False 	False 	False 	False
4985 	False 	False 	False 	False 	False 	False
4986 	False 	False 	False 	False 	False 	False
4987 	False 	False 	False 	False 	False 	False
4988 	False 	False 	False 	False 	False 	False
4989 	False 	False 	False 	False 	False 	False
4990 	False 	False 	False 	False 	True 	False
4991 	False 	False 	False 	False 	False 	False
4992 	False 	False 	False 	False 	False 	False
4993 	False 	False 	False 	False 	False 	False
4994 	False 	False 	False 	False 	False 	False
4995 	False 	False 	False 	False 	False 	False
4996 	False 	False 	False 	False 	False 	False
4997 	False 	False 	False 	False 	False 	False
4998 	False 	False 	False 	False 	False 	False
4999 	False 	False 	False 	False 	False 	False

5000 rows × 6 columns

We can see some True values (check row 17). So far, so good! To get a sense of the magnitude of missing values, let's calculate the percentages of the missing values in all columns:

In [ ]:
youtube_df.isnull().sum()*100/youtube_df.isnull().count()

Rank             0.00
Grade            0.00
Channel name     0.00
Video Uploads    0.12
Subscribers      7.74
Video views      0.00
dtype: float64

It appears that everything is in order—we identified and fixed the missing values that lurked in Video Uploads and Subscribers. However, let's be sure we haven't overlooked other missing values. Take, for example, the Grade field. This is a categorical variable, so let's print the frequencies for each value:

In [ ]:
youtube_df.Grade.value_counts()

B+      2956
A-      1024
A        963
A+        41
A++       10
           6
Name: Grade, dtype: int64

Check the last row. It appears that we have empty string values which include trailing spaces. These extra spaces mean that they don't show up when we count the missing values! Just because a record looks missing to you, doesn't mean it is to Pandas!

Let's convert these records to np.nan and then check whether our changes took effect:

In [ ]:
youtube_df.Grade = youtube_df.Grade.apply(str.strip).replace("", np.nan)

youtube_df.Grade.unique()

array(['A++', 'A+', 'A', nan, 'A-', 'B+'], dtype=object)

It appears from the nan included in this list of unique values that we have now properly identified the missing values in the Grade column.

In [ ]:
youtube_df["Video Uploads"].fillna(youtube_df["Video Uploads"].mean(), inplace=True)
youtube_df["Subscribers"].fillna(youtube_df["Subscribers"].mean(), inplace=True)

In [ ]:
youtube_df.isnull().sum()*100/youtube_df.count()

Rank             0.000000
Grade            0.120144
Channel name     0.000000
Video Uploads    0.000000
Subscribers      0.000000
Video views      0.000000
dtype: float64

In [ ]:
# fill in missing values in Category with the the value of the next highest-ranked channel's category

grade_list = youtube_df.Grade

for i in range(0, len(youtube_df.Grade)):
    if pd.isnull(youtube_df.Grade[i]):
        youtube_df.Grade[i] = youtube_df.Grade[i-1]
        
youtube_df["Grade"].unique()

array(['A++', 'A+', 'A', 'A-', 'B+'], dtype=object)