overlay the trends of each area over the 4 years all on 1 plot

show difference in each area over 4 years to determine whether the losses in one area = the gains in another

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv(r'C:\Users\katec\Thinkful\chap_4_assignment\data\Directory_Of_Homeless_Population_By_Year.csv')

In [4]:
df.head(20)

    Year                            Area  Homeless Estimates
0   2012       Surface Area - Manhattan                  906
1   2012  Total Unsheltered Individuals                 3262
2   2012                        Subways                 1634
3   2012                  Surface Total                 1628
4   2012   Surface Area - Staten Island                   99
5   2012          Surface Area - Queens                   86
6   2012        Surface Area - Brooklyn                  368
7   2012           Surface Area - Bronx                  169
8   2011       Surface Area - Manhattan                  786
9   2011           Surface Area - Bronx                  115
10  2011        Surface Area - Brooklyn                  242
11  2011          Surface Area - Queens                  102
12  2011   Surface Area - Staten Island                  128
13  2011                  Surface Total                 1373
14  2011                        Subways                 1275
15  2011  Total Unsheltered Individuals                 2648
16  2010  Total Unsheltered Individuals                 3111
17  2010       Surface Area - Manhattan                 1145
18  2010           Surface Area - Bronx                  174
19  2010        Surface Area - Brooklyn                  428

In [50]:
df.dtypes

Year                    int64
Area                   object
Homeless Estimates      int64
order                 float64
2009_pop               object
Pop_Change             object
dtype: object

In [13]:
#df['order'] = df['Year'].map({2009: 0, 2012: 3})

In [76]:
#df = df[df['order'].isin(['0.0', '3.0']) ]

In [77]:
#df = df[df['Area'].isin(['Subways ', 'Surface Total ', 'Total Unsheltered Individuals '])]

In [74]:
#df.sort_values('Area', ascending = True, inplace= True)

In [92]:
df

,Year,Area,Homeless Estimates,order,2009_pop,Pop_Change
26,2009,Subways,968,0.0,968,
2,2012,Subways,1634,3.0,1634,
27,2009,Surface Total,1360,0.0,1360,
3,2012,Surface Total,1628,3.0,1628,
25,2009,Total Unsheltered Individuals,2328,0.0,2328,
1,2012,Total Unsheltered Individuals,3262,3.0,3262,

In [ ]:
#find the difference between:
#'Homeless Estimates' value (if 'Area' == Subways & 'Year' == 2012) - 'Homeless Estimates' value (if 'Area' == Subways & 'Year' == 2009)

Have you tried writing the `.loc[]` statement like `df.loc[df['Year'] == 2012, 'Homeless Estimates'] - df.loc[df['Year'] == 2009, 'Homeless Estimates']`? Do you also have exactly the same number of rows for each, and are they ordered exactly the same way?

In [96]:
#doesn't work
#df.loc[df['Year'] == 2012, 'Homeless Estimates'] - df.loc[df['Year'] == 2009, 'Homeless Estimates']

1    NaN
2    NaN
3    NaN
25   NaN
26   NaN
27   NaN
Name: Homeless Estimates, dtype: float64

You could also convert the Series object that each .loc[] statement yields to an array, by taking .values from each term (`df.loc[df['Year'] == 2012, 'Homeless Estimates'].values`) for example.

In [99]:
(df.loc[df['Year'] == 2012, 'Homeless Estimates'].values)

array([1634, 1628, 3262], dtype=int64)

One thing you could really try is making a pivot table to put your different years in different columns. You currently have a row for each Area, Year combination. You can switch that to a row for each Area, with a column for each Year of Homeless Estimates data. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

In [111]:
table = pd.pivot_table(df, values='Homeless Estimates', index=['Area'], columns=['Year'], aggfunc = 'mean')

In [112]:
table

Year                            2009  2012
Area
Subways                          968  1634
Surface Total                   1360  1628
Total Unsheltered Individuals   2328  3262

In [113]:
type(table)

pandas.core.frame.DataFrame

In [114]:
table['Change in Population'] = table[2012] - table[2009]

In [115]:
table

Year                            2009  2012  Change in Population
Area
Subways                          968  1634                   666
Surface Total                   1360  1628                   268
Total Unsheltered Individuals   2328  3262                   934

In [105]:
table['Difference'] = table['2012'] - table['2009']

KeyError: 'Difference'

In [93]:
#df['dA'] = df['A'] - df['A'].shift(-1)

In [94]:
df.loc[df['Year'] == 2012, 'Homeless Estimates'] - df.loc[df['Year'] == 2009, 'Homeless Estimates']

1    NaN
2    NaN
3    NaN
25   NaN
26   NaN
27   NaN
Name: Homeless Estimates, dtype: float64

In [95]:
df.loc[df['Year'] == 2012, 'Homeless Estimates'].values

array([1634, 1628, 3262], dtype=int64)

In [91]:
df.loc[(df['Year'] == 2012)]['Homeless Estimates'] - df.loc[(df['Year'] == 2009)]['Homeless Estimates']

1    NaN
2    NaN
3    NaN
25   NaN
26   NaN
27   NaN
Name: Homeless Estimates, dtype: float64

In [89]:
#df[(df['col1'] >= 1) & (df['col1'] <=1 )]

In [ ]:
#df.loc[(df['a'] == 1) & (df['c'] == 2), 'b'].sum()

In [83]:
df.loc[(df['Year'] == 2012) & (df['Area'] == 'Subways ') & (df['Homeless Estimate'])]

KeyError: 'Homeless Estimate'

In [43]:
df.query('Area' == 'Surface Total ')['Homeless Estimates']

ValueError: expr must be a string to be evaluated, <class 'bool'> given

In [ ]:
#add column to df for change

    #in df, for each area, order3 - order0 = change in population
    #make all numbers positive
        
    #surface chg = surface3 - surface0
    #sub chg = sub3 - sub0
    #tot chg = tot3 - tot0
    
    #Show negative numbers as a different color
    
    #compare chg in surface to subway to total

In [ ]:
#df["2009_pop"] = df['Homeless Estimates']

In [64]:
df['Pop_Change'] = df[df['Homeless Estimates']]

KeyError: "None of [Int64Index([1360, 968, 2328, 3262, 1628, 1634], dtype='int64')] are in the [columns]"

In [55]:
df['Pop_Change'] = df[df['Homeless Estimates']] if df[df['Area'].isin(['Subways ']) and df['order'].isin([3.0])] #- df[df['Homeless Estimates']] if df[df['Area'].isin(['Subways ']) & df[df['order'].isin([0.0])]]

SyntaxError: invalid syntax (<ipython-input-55-dbdc05942c1c>, line 1)

In [38]:
df['Pop-Change'] = df.subtract(df['Homeless Estimates'][2], df['Homeless Estimates'][26]
                              )

TypeError: ufunc 'subtract' did not contain a loop with signature matching types dtype('<U21') dtype('<U21') dtype('<U21')

In [46]:
df.filter[['Area' == 'Surface Total ', 'order' == 3]]

TypeError: 'method' object is not subscriptable

In [68]:
df[df['Year'] == 2009]
df['2009_pop'] = df[df['Year'] == 2009].df['Homeless Estimates']

AttributeError: 'DataFrame' object has no attribute 'df'

In [66]:
df[df['Year'] == 2012]

,Year,Area,Homeless Estimates,order,2009_pop,Pop_Change
1,2012,Total Unsheltered Individuals,3262,3.0,3262,
3,2012,Surface Total,1628,3.0,1628,
2,2012,Subways,1634,3.0,1634,

In [59]:
homeless_estimate_2012_sub = df[df['Year'] == 2012][df['Area'] == 'Subways ']['Homeless Estimates']

C:\Users\katec\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [60]:
homeless_estimate_2012_sub

2    1634
Name: Homeless Estimates, dtype: int64

In [61]:
homeless_estimate_2009_sub = df[df['Year'] == 2009][df['Area'] == 'Subways ']['Homeless Estimates']

C:\Users\katec\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [62]:
homeless_estimate_2009_sub

26    968
Name: Homeless Estimates, dtype: int64

In [63]:
homeless_estimate_2012_sub - homeless_estimate_2009_sub

2    NaN
26   NaN
Name: Homeless Estimates, dtype: float64

In [12]:
df['Pop_chg'] = df.apply(lambda row: row['2012'] * row['2009'], axis=1)

KeyError: ('2012', 'occurred at index 31')

In [10]:
#df_sub = df[df['Area'] == 'Subways ']
#df_brx = df[df['Area'] == 'Surface Area - Bronx ']
#df_brk = df[df['Area'] == 'Surface Area - Brooklyn ']
#df_man = df[df['Area'] == 'Surface Area - Manhattan ']
#df_qns = df[df['Area'] == 'Surface Area - Queens ']
#df_sti = df[df['Area'] == 'Surface Area - Staten Island ']
#df_surt = df[df['Area'] == 'Surface Total ']
#df_tot = df[df['Area'] == 'Total Unsheltered Individuals ']

In [11]:
df_sub

    Year      Area  Homeless Estimates  order
26  2009  Subways                  968      0
23  2010  Subways                 1077      1
14  2011  Subways                 1275      2
2   2012  Subways                 1634      3