overlay the trends of each area over the 4 years all on 1 plot

show difference in each area over 4 years to determine whether the losses in one area = the gains in another

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv(r'C:\Users\katec\Thinkful\chap_4_assignment\data\Directory_Of_Homeless_Population_By_Year.csv')

In [9]:
df.head(20)

    Year                            Area  Homeless Estimates  order
31  2009           Surface Area - Bronx                  164      0
29  2009          Surface Area - Queens                   98      0
28  2009   Surface Area - Staten Island                  121      0
27  2009                  Surface Total                 1360      0
26  2009                        Subways                  968      0
25  2009  Total Unsheltered Individuals                 2328      0
24  2009       Surface Area - Manhattan                  777      0
30  2009        Surface Area - Brooklyn                  200      0
23  2010                        Subways                 1077      1
22  2010                  Surface Total                 2034      1
21  2010   Surface Area - Staten Island                  175      1
20  2010          Surface Area - Queens                  112      1
19  2010        Surface Area - Brooklyn                  428      1
18  2010           Surface Area - Bronx                  174      1
17  2010       Surface Area - Manhattan                 1145      1
16  2010  Total Unsheltered Individuals                 3111      1
15  2011  Total Unsheltered Individuals                 2648      2
13  2011                  Surface Total                 1373      2
12  2011   Surface Area - Staten Island                  128      2
11  2011          Surface Area - Queens                  102      2

In [7]:
df['order'] = df['Year'].map({2009: 0, 2010: 1, 2011: 2, 2012: 3})

In [8]:
df.sort_values('Year', ascending = True, inplace= True)

for each area, take 2012 (order 3) - 2009 (order 0); stack 5 boros, bar for surface total, bar for subway, bar for total

In [ ]:
def chg_tot(order3, order0, area):
    #in df, for each area, order3 - order0 = change in population
    #preserve - or + integer? ??how to show which chgs neg vs positive

    #chg in pop for brx + chg brook + chg man + chg si + chg queens = total boro chg
    #surface chg = surface3 - surface0
    #sub chg = sub3 - sub0
    #tot chg = tot3 - tot0
    #compare boro chg to surface to subway to total
    
    #add column to df or create new df to plot?

In [3]:
df_sub = df[df['Area'] == 'Subways ']
df_brx = df[df['Area'] == 'Surface Area - Bronx ']
df_brk = df[df['Area'] == 'Surface Area - Brooklyn ']
df_man = df[df['Area'] == 'Surface Area - Manhattan ']
df_qns = df[df['Area'] == 'Surface Area - Queens ']
df_sti = df[df['Area'] == 'Surface Area - Staten Island ']
df_surt = df[df['Area'] == 'Surface Total ']
df_tot = df[df['Area'] == 'Total Unsheltered Individuals ']

In [4]:
df_sub

    Year      Area  Homeless Estimates
2   2012  Subways                 1634
14  2011  Subways                 1275
23  2010  Subways                 1077
26  2009  Subways                  968