In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv(r'C:\Users\katec\Thinkful\medicare_Complications_Deaths_Hospital_copy.csv')

In [3]:
df['Score'] = pd.to_numeric(df.Score, errors = 'coerce', downcast = 'float')

In [4]:
df['Denominator'] = pd.to_numeric(df.Denominator, errors = 'coerce', downcast = 'float')

In [5]:
df.dropna(subset =['Score'], inplace = True)

In [6]:
array = ['MORT_30_AMI', 'MORT_30_CABG', 'MORT_30_COPD', 'MORT_30_HF', 'MORT_30_PN', 'MORT_30_STK', 'PSI_4_SURG_COMP']
df_mortality = df.loc[df['Measure ID'].isin(array)]

In [7]:
df_ami = df_mortality.apply(lambda row: row[df_mortality['Measure ID'].isin(['MORT_30_AMI'])])

In [8]:
dfami_state = df_ami.groupby('State')['Score'].describe()

In [9]:
dfami_state['Rank'] = dfami_state['mean'].rank()
dfami_state.sort_values('mean', inplace = True)

In [13]:
dfami_state.head()

       count       mean       std   min    25%    50%     75%   max  Rank
State
WY       4.0  12.125000  1.294540  10.2  12.00  12.65  12.775  13.0   1.0
MN      22.0  12.250000  1.033602  10.7  11.60  12.15  12.550  14.3   2.0
UT      15.0  12.300001  0.968061  11.1  11.55  12.30  12.950  14.0   3.0
MA      51.0  12.319609  0.867876  10.2  11.70  12.50  13.050  13.6   4.0
AK       5.0  12.360000  1.066771  11.4  11.50  11.90  13.300  13.7   5.0

In [10]:
wy = dfami_state.loc[dfami_state['Rank'] == 1]
ca = dfami_state.loc[dfami_state['Rank'] == 12]

In [11]:
import scipy
from scipy.stats import ttest_ind

In [12]:
print(ttest_ind(wy['mean'], ca['mean']))

Ttest_indResult(statistic=nan, pvalue=nan)

C:\Users\katec\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3367: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
C:\Users\katec\Anaconda3\lib\site-packages\numpy\core\_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
C:\Users\katec\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\katec\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\katec\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1831: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)